srsly
spacy
glmocr[selfhosted]
tqdm
zshot==0.0.11
gliner==0.2.21
spacy-transformers @ git+https://github.com/explosion/spacy-transformers.git@master
en_deberta_v3_base_ner_activity @ https://huggingface.co/NikosKprl/en_deberta_v3_base_ner_activity/resolve/main/en_deberta_v3_base_ner_activity-0.1.0-py3-none-any.whl
en_deberta_v3_base_ner_goal @ https://huggingface.co/NikosKprl/en_deberta_v3_base_ner_goal/resolve/main/en_deberta_v3_base_ner_goal-0.1.0-py3-none-any.whl
en_deberta_v3_base_ner_method @ https://huggingface.co/NikosKprl/en_deberta_v3_base_ner_method/resolve/main/en_deberta_v3_base_ner_method-0.1.0-py3-none-any.whl