srsly
spacy
glmocr[selfhosted]
tqdm
wget
zshot==0.0.11
gliner==0.2.21
information-linking-queries
git+https://github.com/explosion/spacy-transformers.git
en_deberta_v3_base_ner_method @ https://huggingface.co/NikosKprl/en_deberta_v3_base_ner_method/resolve/main/en_deberta_v3_base_ner_method-1.0.0-py3-none-any.whl
en_deberta_v3_base_ner_goal @ https://huggingface.co/NikosKprl/en_deberta_v3_base_ner_goal/resolve/main/en_deberta_v3_base_ner_goal-1.0.0-py3-none-any.whl
en_deberta_v3_base_ner_activity @ https://huggingface.co/NikosKprl/en_deberta_v3_base_ner_activity/resolve/main/en_deberta_v3_base_ner_activity-1.0.0-py3-none-any.whl